<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :url, "Add your node address:" %>
    <%= form.text_field :url, class: 'form-control', placeholder: 'https://node.einfachiota.de' %>
  </div>

  <div class="form-group">
    <%= form.label :name, "Add your favourite node name:" %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'einfachIOTA Node' %>
  </div>

  <div class="field form-group">
   <div class="checkbox-inline">
     Select the checkbox if Proof of Work is activated on your node.<br>
     <%= form.check_box :pow %>
     <%= form.label :pow, "PoW" %>
   </div>
 </div>

  <div class="form-group">
    <%= form.label :donation_address, "Your donation address:" %>
    <%= form.text_field :donation_address, class: 'form-control', placeholder: 'ABCDEF9..' %>
  </div>

  <% if new_node == "false" %>
  <div class="form-group">
    <%= form.label :key, "Your pool key:" %>
    <%= form.text_field :key, class: 'form-control', placeholder: 'ABCDEF9..', required: true %>
  </div>

  <% end %>

  <div class="form-group">
    <% if node.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', node, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if node.persisted? %>
      <%= link_to "Cancel", node, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", nodes_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
