


<div class="row">
  <div class="col-sm-6">
    <h1>Nodes</h1>
    <p>This a list of nodes, which are registred on the Pool Manager and participate on the donation distribution. It's possible to join the piri pool without be registrated in the pool manager. These nodes will not be part of the donation disitrbution.</p>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_node_path, class: 'btn btn-primary' do %>
    Add New Node
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Status</th>

      </tr>
    </thead>

    <tbody>
      <% @nodes.each do |node| %>
        <%= content_tag :tr, id: dom_id(node), class: dom_class(node) do %>

            <td><%= link_to node.name, node %></td>
            <td><%= node.status %></td>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
