<div class="container">
    <div class="row">
      <div class="col-md">


        <% if @register_new_node == "false" %>
        <h1>Connect a node</h1>
          <div class="alert alert-warning" role="alert">
            You can connect your node, which is currently in the pool. Just use the same name and url like in the pool registration!
          </div>
        <% else %>
        <h1>Register a new node</h1>
          Add a new node to the pool! Just add the correct node address and use a cool name!
        <% end %>
        <hr>


        <%= render 'form', node: @node, new_node: @register_new_node %>

        <% if @register_new_node == "true" %>
          <p>Your node is already registered in the node pool? <%= link_to "Click here", new_node_url(register_new_node: false) %></p>
        <% else %>
          <p>Your node is not registred the node pool right now? <%= link_to "Click here", new_node_url(register_new_node: true) %> to register a new one!</p>
        <% end %>

    </div>
  </div>
</div>
