<div class="page-header">
  <%= link_to nodes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Nodes
  <% end %>
  <%= link_to edit_node_path(@node), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <hr>
  <h5>Your Node:</h5>
  <h1><%= @node.name %></h1>
</div>
<h2>Node Information</h2>
<dl class="dl-horizontal">
  <dt>Url:</dt>
  <dd><%= @node.url %></dd>

  <dt>Pow:</dt>
  <dd><%= @node.pow %></dd>

</dl>

<% if @node.connected? %>
  <p>Node connected to piri pool</p>
<% else %>
<h2>Connect your node</h2>
<p>Copy this curl command and <strong> execute this on your server!</strong> Copy the returned key and insert it in the field below!</p>
<p></p>

<div class="alert alert-info" role="alert">
  curl -X POST "https://nutzdoch.einfachiota.de/nodes" -H  "accept: */*" -H  "Content-Type: application/json" -d "{  \"name\": \"<%= @node.name %>\",  \"url\": \"<%= @node.url %>\",  \"pow\": <%= @node.pow   %>}"
</div>

<%= form_with(model: @node, local: true) do |form| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :key %>
    <%= form.text_field :key, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit "Add key", class: 'btn btn-primary' %>
  </div>
<% end %>


<% end %>
