<footer class="footer white bg-dark">
  <div class="container">
    <span>Have a nice <%= Time.now.strftime("%A") %>!</span>
    <span>Made with <%= image_tag "heart.svg" %> and <a href="https://www.iota.org" target="_blank"><%= image_tag "iota.svg" %></a> by <a href="<%= ENV['CREATOR_LINK'] %>" target="_blank"><%= ENV['CREATOR_NAME'] %></a> </span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Donations", donations_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Terms", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</footer>
