<title><%= "#{Rails.configuration.application_name } : #{Rails.configuration.pool_name }" %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>
<link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
