<h1>Pool Donations</h1>
<p class="lead">Donations will be instant distribute to all nodes. The distribution is shared by the amount of work. The shares will be calculated if the dontation is confirmed on the Tangle.</p>
<button href"#" onClick="OpenInNewTab('<%="#{Rails.configuration.dontation_manager_public_url}/donations/new" %>');" class="btn btn-primary">Become a donator</button>
<br>
<br>
<p>The donation list ins ordered in hitosrical order.</p>


<ul>
  <% @donations.each_with_index do |donation, index| %>
  <li>
    <%= "##{index + 1}: #{time_ago_in_words donation["created_at"]} ago" %>
    <%= donation["bundle"] %>
    <a href="https://devnet.thetangle.org/bundle/<%= donation["bundleHash"] %>" target="_blank">Translation information</a>
    <a href="<%= donation["url"] %>" target="_blank">Donation information</a>
  </li>
  <% end %>
</ul>

<script type="text/javascript">
  function OpenInNewTab(url) {
    var win = window.open(url, '_blank', 'height=700,width=700');
  }
</script>
