<div class="jumbotron">
  <h1 class="display-4"><%= Rails.configuration.pool_name %> Pool</h1>
  <p class="lead">Add your node to a pool and join the donation distrubution!</p>
  <hr class="my-4">
  <p>You can easy register your IOTA iri node in two simple steps. Do it now and earn IOTA!.</p>
  <p class="lead">
    <%= link_to "Register your node!", new_node_url, class: "btn btn-primary btn-lg" %>
  </p>
</div>

<h3>Nodes List</h3>
<%= react_component("NodeList", { nodes: @nodes }) %>
