<h1>Your nodes</h1>
<% if @nodes.count == 0 %>
<p>No nodes registred at the moment - <%= link_to "register your node!", new_node_url %></p>
<% else %>
  <ul>
    <% @nodes.each do | node | %>
      <li><%= ´node %></li>
    <% end %>
  </ul>
<% end %>
